# ESP32 编译产物
esp32/build/
esp32/build_s3_001/
esp32/build_s3_002/
esp32/sdkconfig
esp32/sdkconfig.old
esp32/sdkconfig.defaults
esp32/sdkconfig.defaults.s3_002
esp32/managed_components/

esp32cam/build/
esp32cam/sdkconfig
esp32cam/sdkconfig.old
esp32cam/sdkconfig.defaults


# Python
edge/__pycache__/
edge/**/__pycache__/
*.pyc
.env

rknn-toolkit2/
venv39_rknn_convert/

# 敏感配置（含WiFi密码等）
sdkconfig.defaults
deploy/mosquitto/*.conf

# 数据库日志
*.db
*.sqlite
